/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

@font-face{src:url(e2ebffa44fbb63381589.ttf);font-family:BigNoodle}header{padding:30px}.header-wrapper{display:grid;grid-template-columns:200px 1fr;align-items:center}.nav-links{width:800px;display:flex;margin:0 auto}.nav-links li:not(:last-child){margin-right:40px}.calculator-title{font-size:40px;margin-bottom:20px;max-width:500px;margin:0 auto}.process-steps{display:grid;grid-template-columns:250px 250px 250px;justify-content:center;padding:30px 0;column-gap:20px}.process-steps div{display:flex;justify-content:center;align-items:center;border:1px solid #000046;padding:20px 0;border-radius:20px;padding:20px 0;width:100%}.active-step{background-color:rgba(187,246,127,0.2);border:1px solid rgba(99,188,8,0.15)}.completed-step{background-color:rgba(187,246,127,0.7);border:1px solid rgba(99,188,8,0.15)}.quote-form{position:relative;height:300px}.geocoder-control:nth-child(2){position:absolute;left:56px;top:0px}.geocoder-control:nth-child(3){position:absolute;left:56px;top:40px}.auto-search-wrapper label:nth-child(1) button{top:-69px}.auto-search-wrapper label:nth-child(2) button{top:147px}.calculator{max-width:500px;margin:0 auto}.car-details,.user-info{display:none}.user-info input{width:100%;border:1px solid #d7d7d7;box-shadow:none;box-sizing:border-box;font-size:16px;padding:12px 45px 12px 10px;width:100%;border-radius:8px;margin-bottom:30px}.top-row-calculator,.bottom-row-calculator{display:grid;gap:15px;grid-template-columns:1fr 1fr}.top-row-calculator p,.bottom-row-calculator p{font-size:24px;margin-bottom:15px}.top-row-calculator{margin-bottom:35px}.top-row-calculator select,.bottom-row-calculator select{font-size:20px;width:100%;padding:5px}.search-from-label,.search-to-label{display:block;margin-bottom:30px}.search-from-label p,.search-to-label p,.user-info p{margin-bottom:10px;font-size:16px;font-family:Arial}p.label-title{font-family:BigNoodle;font-size:24px}.auto-search-wrapper input{border-radius:8px}.carrier-type{display:flex;justify-content:space-between;margin-bottom:30px;font-size:20px}.price-text{font-size:25px;margin-bottom:20px}.calculate-button{padding:7px;font-size:16px;font-weight:bold;background:none;margin-bottom:30px}.next-button{padding:10px 35px;font-size:16px;font-weight:bold;background:none;margin-bottom:30px;border-radius:10px;cursor:pointer}.slider-wrapper{position:relative;padding:0 20px}.prev-slider-button{position:absolute;top:50%;left:0;transform:translateY(-50%);background:url(4ab52a17d966b94c94b0.png);background-size:50px 50px;background-position:center;background-repeat:no-repeat;padding:28px;border:none}.next-slider-button{position:absolute;top:50%;right:0;transform:translateY(-50%);background:url(a227835349d5f29a4ec5.png);background-size:50px 50px;background-position:center;background-repeat:no-repeat;padding:28px;border:none}*{margin:0;padding:0;box-sizing:border-box}body{font-family:BigNoodle;background-color:#fafbff;color:#000046}.auto-search-results li p{font-family:Arial}a{text-decoration:none}li{list-style:none}.container{max-width:1440px;margin:auto}.slider{max-width:1000px;margin:0 auto;padding:30px}.slider img{width:100%}#map{height:0px}footer{padding:20px;text-align:center;background-color:black;color:white}.modal-confirmation{position:fixed;top:0;bottom:0;right:0;left:0;overflow:hidden;overflow-y:auto;-webkit-overflow-scrolling:touch;display:none;flex-flow:column nowrap;justify-content:center;align-items:center;z-index:99;padding:30px 0;font-size:100px;background-color:rgba(0,0,0,0.5)}

